:where(button, input, select, textarea) {
    background-color: transparent;
    border: 1px solid WindowFrame;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    padding: .25em .375em
}

:where(select) {
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") right center/1em no-repeat;
    border-radius: 0;
    padding-right: 1em
}

:where(select[multiple]) {
    background-image: none
}

:where([type=color i], [type=range i]) {
    border-width: 0;
    padding: 0
}