/*! Based on https://github.com/sindresorhus/modern-normalize and https://github.com/csstools/sanitize.css */

@import url("./misc/UISystem.css");
@import url("./misc/UIMonospace.css");
@import url("./misc/Assets.css");
@import url("./misc/Forms.css");
@import url("./misc/ReduceMotion.css");
@import url("./misc/TypoGraphy.css");

*,
::after,
::before {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

::after,
::before {
	text-decoration: inherit;
	vertical-align: inherit;
}

:where(:root) {
	cursor: default;
	line-height: 1.5;
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

:where(body) {
	margin: 0;
}

:where(h1) {
	font-size: 2em;
	margin: 0.67em 0;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
	margin: 0;
}

:where(hr) {
	color: inherit;
	height: 0;
}

:where(nav) :where(ol, ul) {
	list-style-type: none;
	padding: 0;
}

:where(nav li)::before {
	content: "\200B";
	float: left;
}

:where(pre) {
	font-family: monospace, monospace;
	font-size: 1em;
	overflow: auto;
}

:where(abbr[title]) {
	text-decoration: underline;
	text-decoration: underline dotted;
}

:where(b, strong) {
	font-weight: bolder;
}

:where(code, kbd, samp) {
	font-family: monospace, monospace;
	font-size: 1em;
}

:where(small) {
	font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
	vertical-align: middle;
}

:where(iframe) {
	border-style: none;
}

:where(svg:not([fill])) {
	fill: currentColor;
}

:where(table) {
	border-collapse: collapse;
	border-color: currentColor;
	text-indent: 0;
}

:where(button, input, select) {
	margin: 0;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
	-webkit-appearance: button;
}

:where(fieldset) {
	border: 1px solid #a0a0a0;
}

:where(progress) {
	vertical-align: baseline;
}

:where(textarea) {
	margin: 0;
	resize: vertical;
}

:where([type="search" i]) {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

:where(dialog) {
	background-color: #fff;
	border: solid;
	color: #000;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -moz-fit-content;
	width: fit-content;
}

:where(dialog:not([open])) {
	display: none;
}

:where(details > summary:first-of-type) {
	display: list-item;
}

:where([aria-busy="true" i]) {
	cursor: progress;
}

:where([aria-disabled="true" i], [disabled]) {
	cursor: not-allowed;
}

:where([aria-hidden="false" i][hidden]) {
	display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

html {
	font-family: "Segoe UI", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, sans-serif, system-ui, Arial;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
	color: #222;
	font-size: 1rem;
}

body {
	margin: 0;
}

hr {
	color: inherit;
    display: block;
	height: 0;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

abbr[title] {
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
pre,
samp {
	font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
		monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	text-indent: 0;
	border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
select {
	text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

:-moz-focusring {
	outline: ButtonText dotted 1px;
}

:-moz-ui-invalid {
	box-shadow: none;
}

legend {
	padding: 0;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.hidden,
[hidden] {
	display: none !important;
}

.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

@media only screen and (min-width: 35em) {
}

@media print,
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 1.25dppx),
	(min-resolution: 120dpi) {
}

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
